#set($combineSign = "#")
#set($sender = $ctx.identity.resolverContext.username)
#set($sendAt = $util.time.nowISO8601())
#set($roomId = "$sender$combineSign$sendAt")

{
  "version" : "2017-02-28",
  "operation": "PutItem",
  "key": {
    "roomType" : $util.dynamodb.toDynamoDBJson('chatRoom')
  },
  "attributeValues" : {
    "roomId": $util.dynamodb.toDynamoDBJson($roomId),
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id),
    "message": $util.dynamodb.toDynamoDBJson($ctx.args.input.message),
    "sender": $util.dynamodb.toDynamoDBJson($sender),
    "receiver": $utils.dynamodb.toDynamoDBJson($ctx.args.input.id),
    "sendAt" : $util.dynamodb.toDynamoDBJson($sendAt),
  }
}